@import "variables";

//MOBILE VERSION
body {
  position: relative;
  background: url(../images/bg-pattern-top-mobile.svg),
    url(../images/bg-pattern-bottom-mobile.svg);
  background-position: right 50vw bottom 70vh, left 50vw top 70vh;
  background-repeat: no-repeat;
  background-color: aqua;
}

.main-container {
  @include centered-flex;
  flex-direction: column;
  text-align: center;
  padding: 70px 18px;
}

// HEADING
.heading-container {
  .heading-title {
    color: $Very-Dark-Magenta;
    font-size: 2.3rem;
  }
  .heading-description {
    color: $Dark-Grayish-Magenta;
    padding: 20px 0 30px;
    font-weight: 500;
  }
}

// STAR RATES
.rates-container {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  max-width: 375px;

  .rates-box {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 100%;
    height: 70px;
    background-color: $Light-Grayish-Magenta;

    .review {
      color: $Very-Dark-Magenta;
      font-weight: 700;
    }
  }
}

// BUYERS REVIEWS
.buyers-reviews {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  row-gap: 15px;

  .buyers-container {
    background-color: $Very-Dark-Magenta;
    color: white;
    border-radius: 10px;
    padding: 35px 30px 30px;
    text-align: left;
    height: fit-content;
    max-width: 380px;

    .profile {
      display: flex;
      align-items: center;
      column-gap: 20px;
      padding-bottom: 25px;

      .profile-picture {
        border-radius: 100%;
        height: 35px;
      }
      .name {
        font-size: 0.8rem;
        font-weight: 700;

        .verified-label {
          color: $Soft-Pink;
          font-size: inherit;
          padding-top: 5px;
          font-weight: 400;
        }
      }
    }
    .review-text {
      line-height: 1.4rem;
      font-size: 0.92rem;
    }
  }
}

// FOOTER
footer {
  position: absolute;
  text-align: center;
  font-weight: 700;
  bottom: 5px;
  width: 100%;
  font-size: 0.7rem;

  a {
    font-size: 0.7rem;
  }
}

// TABLET VERSION
@media screen and (min-width: 750px) {
  body {
    background: url(../images/bg-pattern-top-desktop.svg),
      url(../images/bg-pattern-bottom-desktop.svg);
    background-position: right 50vw bottom 70vh, left 50vw top 70vh;
    background-repeat: no-repeat;
  }

  // HEADING
  .heading-description {
    max-width: 750px;
  }

  // RATES REVIEWS
  .rates-box {
    justify-content: center;
    row-gap: 5px;
  }

  // BUYERS REVIEWS
  .buyers-reviews {
    flex-direction: row;
    column-gap: 20px;
  }
}

// DESKTOP VERSION
@media screen and (min-width: 1350px) {
  * {
    padding: 0 !important;
    border: 0 !important;
  }

  body {
    height: 105vh;
    background: url(../images/bg-pattern-top-desktop.svg),
      url(../images/bg-pattern-bottom-desktop.svg) no-repeat;
    background-position: right 58vw bottom 50vh, left 30vw top 100vh;
    background-repeat: no-repeat;
  }

  .main-container {
    text-align: left;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    padding: 90px 180px 0px !important;
    row-gap: 80px;
  }

  // HEADING
  .heading-container {
    display: flex;
    flex-direction: column;
    padding-right: 60px !important;
    row-gap: 15px;
    border: 2px solid black;

    .heading-title {
      font-size: 3rem;
      line-height: 2.8rem;
    }
    .heading-description {
      font-size: 0.9rem;
      line-height: 1.6rem;
    }
  }

  // STAR RATES
  .rates-container {
    position: relative;
    margin-top: 15px;
    right: 10px;
    row-gap: 15px;
    justify-self: flex-end;

    .rates-box {
      flex-direction: row;
      align-items: center;
      height: 50px;
      width: 100%;

      .review {
        font-size: 0.85rem;
        padding-left: 20px !important;
      }

      .stars {
        padding-left: 30px !important;
      }
    }
    .reviews-rate {
      position: relative;
      right: 90px;
    }
    .reportGuru-rate {
      position: relative;
      right: 45px;
    }
  }

  // BUYERS REVIEWS
  .buyers-reviews {
    grid-column: 1/3;
    flex-direction: row;
    column-gap: 30px;

    .buyers-container {
      padding: 35px 25px !important;

      .review-text {
        font-size: 0.75rem;
        padding-top: 18px !important;
      }
      .verified-label {
        padding-top: 5px !important;
      }
    }
    .colton-container {
      margin-top: -30px;

      .colton-review-text {
        padding-right: 22px !important;
      }
    }
    .irene-container {
      margin-top: -15px;
    }
  }
}
